- A user registers to the server with an alias (DONE) (TCP)
- A user can create a new group for chatting (DONE) (TCP)+(MULTICAST)
- A creator of a group can delete it (DONE) (TCP)
- A group creator has the option to delegate group ownership to another group member (DONE) (TCP)
- A user can join a group according to the access policy defined by the group creator: (DONE) (TCP)+(MULTICAST)
	o Freely join (DONE) (TCP)
	o Join by entering the password set by the group creator (DONE) (TCP)
	o Join by asking permission from the group creator (DONE) (TCP)+(MULTICAST)
- A group creator can kick a user out of the group (DONE) (TCP)
- A user can view all users in the system (DONE) (TCP)
- A user can view all groups in the system (DONE) (TCP)
- A user can view all users in a group (DONE) (TCP)
- A user can create multiple groups (DONE) (TCP)
- A user can participate in multiple groups (DONE) (TCP)
- A user can chat privately with another user (DONE) (TCP)
- A user can participate in multiple private chats (DONE) (TCP)
- In a private chat, a user can see live in real-time the keystrokes of the other user (DONE) (TCP)
- If a group member is not writing anything for more time than a threshold (set by the group creator), he is automatically kicked out of the group (DONE) (TCP)+(MULTICAST)
- If no group member is writing anything for more time than a threshold (set by the server administrator), the group is automatically deleted (DONE) (TCP)+(MULTICAST)
